# Django Config
DEBUG=True
SECRET_KEY=django-insecure-your-development-secret-key-goes-here
ALLOWED_HOSTS=localhost,127.0.0.1

# CORS settings for React frontend
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

# PostgreSQL Connection Config
DB_NAME=electrosmart
DB_USER=postgres
DB_PASSWORD=123456
DB_HOST=localhost
DB_PORT=5432
